In [1]:
import pandas as pd

In [2]:
pd.__version__

'1.4.1'

In [3]:
import numpy as np

In [4]:
np.__version__

'1.22.3'

# Pandas对象简介

## Pandas的Series对象

Pandas的Series对象是一个带索引数据构成的一维数组。可以用一维数组创建Series对象。

In [5]:
data = pd.Series([0.25, 0.5, 0.75, 1.0])

In [6]:
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [7]:
data.values

array([0.25, 0.5 , 0.75, 1.  ])

In [8]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [9]:
data[1]

0.5

In [10]:
data[1:3]

1    0.50
2    0.75
dtype: float64

Series对象的索引可以是任意想要的类型，比如：字符串。

In [11]:
data = pd.Series(data.to_list(), index=list("abcd"))

In [12]:
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [13]:
data['b']

0.5

或者使用不连续或不按顺序的索引。

In [14]:
data = pd.Series(data.values, index=[2,5,3,7])

In [15]:
data

2    0.25
5    0.50
3    0.75
7    1.00
dtype: float64

我们可以直接用Python的字典创建一个Series对象。

In [16]:
population_dict = {
    'California': 38332521,
    'Texas': 26448193,
    'New York': 19651127,
    'Florida': 19552860,
    'Illinois': 12882135
}

In [17]:
population = pd.Series(population_dict)

In [18]:
population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [19]:
population['California']

38332521

In [20]:
population['California':'Illinois']

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

我们可以用如下的方式创建Series对象：

```Python
pd.Series(data, index=index)
```

其中，index是一个可选参数，data参数支持多种数据类型，比如列表或NumPy数组，此时index默认值为整数序列。

In [21]:
pd.Series([2, 4, 6])

0    2
1    4
2    6
dtype: int64

In [22]:
pd.Series(5, index=[100, 200, 300])

100    5
200    5
300    5
dtype: int64

In [23]:
pd.Series({2: 'a', 1: 'b', 3: 'c'})

2    a
1    b
3    c
dtype: object

In [24]:
pd.Series({2: 'a', 1: 'b', 3: 'c'}, index=[3, 2])

3    c
2    a
dtype: object

## Pandas的DataFrame对象

In [25]:
area_dict = {'California': 423967, 'Texas': 695662, 
             'New York': 141297, 'Florida': 170312,
             'Illinois': 149995
            }

In [26]:
area = pd.Series(area_dict)

In [27]:
area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
dtype: int64

In [28]:
states = pd.DataFrame({'population': population,
                       'area': area
                      })

In [29]:
states

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

In [31]:
states.index

Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')

In [32]:
states.columns

Index(['population', 'area'], dtype='object')

In [33]:
states['area']

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

创建DataFrame对象

1. 通过单个Series对象创建
2. 通过字典列表创建
3. 通过Series对象字典创建
4. 通过NumPy二维数组创建
5. 通过NumPy结构化数组创建

通过单个Series对象创建:

In [36]:
pd.DataFrame(population, columns=['polulation'])

            polulation
California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135

In [37]:
pd.DataFrame(population, columns=['abc'])

                 abc
California  38332521
Texas       26448193
New York    19651127
Florida     19552860
Illinois    12882135

通过字典列表创建:

In [39]:
data = [{'a': i, 'b': 2 * i} for i in range(3)]

In [40]:
data

[{'a': 0, 'b': 0}, {'a': 1, 'b': 2}, {'a': 2, 'b': 4}]

In [41]:
pd.DataFrame(data)

   a  b
0  0  0
1  1  2
2  2  4

In [42]:
pd.DataFrame([{'a': 1, 'b': 2}, {'b': 3, 'c': 4}])

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

通过Series对象字典创建:

In [43]:
pd.DataFrame({'population': population, 
              'area': area})

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

通过NumPy二维数组创建:

In [44]:
pd.DataFrame(np.random.rand(3, 2),
            columns=['foo', 'bar'],
            index=['a', 'b', 'c'])

        foo       bar
a  0.688499  0.023457
b  0.233337  0.494013
c  0.507290  0.359895

通过NumPy结构化数组创建:

In [45]:
A = np.zeros(3, dtype=[('A', 'i8'), ('B', 'f8')])

In [46]:
A

array([(0, 0.), (0, 0.), (0, 0.)], dtype=[('A', '<i8'), ('B', '<f8')])

In [47]:
np.zeros(3)

array([0., 0., 0.])

In [48]:
pd.DataFrame(A)

   A    B
0  0  0.0
1  0  0.0
2  0  0.0

## Pandas的Index对象

In [49]:
ind = pd.Index([2, 3, 5, 7, 11])

In [50]:
ind

Int64Index([2, 3, 5, 7, 11], dtype='int64')

In [51]:
ind[3]

7

In [52]:
ind.size, ind.shape, ind.ndim, ind.dtype

(5, (5,), 1, dtype('int64'))

In [53]:
indA = pd.Index([1, 3, 5, 7, 9])
indB = pd.Index([2, 3, 5, 7, 11])

In [54]:
# 交集
indA & indB

/var/folders/jm/m_xtkvhx6w72_r8ylr5jx8b40000gn/T/ipykernel_51409/397782739.py:2: FutureWarning: Index.__and__ operating as a set operation is deprecated, in the future this will be a logical operation matching Series.__and__.  Use index.intersection(other) instead.
  indA & indB

Int64Index([3, 5, 7], dtype='int64')

In [55]:
# 并集
indA | indB

/var/folders/jm/m_xtkvhx6w72_r8ylr5jx8b40000gn/T/ipykernel_51409/1780210416.py:2: FutureWarning: Index.__or__ operating as a set operation is deprecated, in the future this will be a logical operation matching Series.__or__.  Use index.union(other) instead.
  indA | indB

Int64Index([1, 2, 3, 5, 7, 9, 11], dtype='int64')

In [56]:
# 异或
indA ^ indB

/var/folders/jm/m_xtkvhx6w72_r8ylr5jx8b40000gn/T/ipykernel_51409/514356942.py:2: FutureWarning: Index.__xor__ operating as a set operation is deprecated, in the future this will be a logical operation matching Series.__xor__.  Use index.symmetric_difference(other) instead.
  indA ^ indB

Int64Index([1, 2, 9, 11], dtype='int64')

In [57]:
indA.intersection(indB)

Int64Index([3, 5, 7], dtype='int64')